<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jungmin.board.mapper.AuthMapper">
    <!--로그인등 사용자 정보 학인  -->
    <select id="userInfo" resultType="Info">
        SELECT
        user_id, user_password
        FROM
        Auth_Info
        WHERE user_id =#{id}
    </select>

    <select id="userDuplicate" resultType="Info">
        SELECT
            user_id
        FROM
            Auth_Info
        WHERE user_id = #{value}
    </select>

    <insert id="userJoin">
        INSERT INTO
            Auth_Info
        values
            (
             #{userId},
             #{userPassword},
             #{userName},
             TO_CHAR(sysdate,'yyyy/mm/DD hh24:mi:ss'),
             #{userEmail}
             )
    </insert>
</mapper>
