<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jungmin.board.mapper.ContentMapper">
    <!--게시글 목록 가져오기-->
    <select id="contentList" resultType="Content">
        SELECT
            content_id, user_email, title, created_at, updated_at
        FROM
            CONTENT
        ORDER BY to_number(CONTENT_ID)
    </select>

    <!--게시글 내용 자세히 가져오기(게시글 클릭 시)-->
    <select id="contentDetail" resultType="Content">
        SELECT
            c.CONTENT_ID , c.USER_EMAIL , c.TITLE , c.CREATED_AT , c.UPDATED_AT , c.CONTEXT
        FROM
            CONTENT c
        where c.CONTENT_ID  =  #{contentId}
    </select>

    <!-- 게시글 댓글 -->
    <select id="contentComment" resultType="Content">
        SELECT
            bc.COMMENT_ID ,bc.USER_EMAIL AS COMMENT_EMAIL, bc.CONTEXT AS COMMENT_CONTEXT, bc.CREATED_AT AS COMMENT_CREATEDAT, bc.UPDATE_AT AS COMMENT_UPDATED_AT
        FROM
            CONTENT c
                INNER JOIN BOARD_COMMENT bc
                           ON c.CONTENT_ID = bc.CONTENT_ID
        WHERE  c.CONTENT_ID = #{contentId}
    </select>

    <!-- 게시글 대댓글 -->
    <select id="contentSubComment" resultType="Content">
        SELECT
            sc.CONTENT_ID, sc.SUBCOMMENT_ID , sc.USER_EMAIL AS SUB_COMMENT_EMAIL, sc.CONTEXT AS SUB_COMMENT_CONTEXT, sc.CREATE_AT AS SUB_COMMENT_CREATEDAT , sc.UPDATE_AT  AS SUB_COMMENT_UPDATED_AT
        FROM
            CONTENT c
                INNER JOIN BOARD_COMMENT bc
                           ON c.CONTENT_ID = bc.CONTENT_ID
        AND  c.CONTENT_ID = #{contentId}
                INNER JOIN SUB_COMMENT sc
                           ON bc.COMMENT_ID = sc.COMMENT_ID
        AND  sc.CONTENT_ID = #{contentId}

    </select>

    <!--     게시글 작성     -->
    <insert id="contentInsert">
        INSERT INTO
            CONTENT
            (CONTENT_ID, USER_EMAIL, TITLE, CREATED_AT, CONTEXT)
        VALUES(
                  emp_seq.NEXTVAL,
                  #{userEmail},
                  #{title},
                  TO_CHAR(sysdate,'yyyy/mm/DD hh24:mi:ss'),
                  #{context}
              )
    </insert>


</mapper>
